<div class="dropdown text-center">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>

<div class="row mt-5">
  <div class="col-sm-4">
    <p>總金額：</p>
  </div>
  <div class="col-sm-8">
    <p class="fs-1">
      20000
    </p>
  </div>
</div>
<div class="div">
  {{!-- 到時候LOOP --}}
  <div class="row">
    <div class="col-sm-6 row space-between">
      <div class="col-sm-6">午餐</div>
      <div class="col-sm-4">2000</div>
    </div>
    <div class="col-sm-6">

      <a href="/" class="btn btn-secondary">修改</a>
      <a href="/" class="btn btn-secondary">刪除</a>
    </div>
  </div>
  {{!-- 結束 --}}
</div>

<a href="/expenses/new" class="btn btn-secondary">新增</a>