<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mt-3">Register</h1>
      {{> message}}
      <form action="/users/register" method="POST">
        <div class="mb-3">
          <label for="name" class="mb-2">name</label>
          <input type="text" id="name" name="name" placeholder="Enter name" class="form-control" value="{{ name }}">
        </div>
        <div class="mb-3">
          <label for="email" class="mb-2">Email</label><span class="text-danger mx-1">*</span>
          <input type="email" id="email" name="email" placeholder="Enter email" class="form-control"
            value="{{ email }}">
        </div>
        <div class="mb-3">
          <label for="password" class="mb-2">Password</label><span class="text-danger mx-1">*</span>
          <input type="password" id="password" name="password" placeholder="Enter password" class="form-control"
            value="{{ password }}">
        </div>
        <div class="mb-3">
          <label for="confirmPassword" class="mb-2">Confirm Password</label><span class="text-danger mx-1">*</span>
          <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Enter your password again"
            class="form-control" value="{{ confirmPassword }}">
        </div>
        <div class="d-grid gap-2 my-4">
          <button type="commit" class="btn btn-primary">Register</button>
        </div>
      </form>
      <p class="lead mt-3">Already have an account? <a href="/users/login">Login</a></p>
    </div>
  </div>

</div>